variables:
  buildConfiguration: 'Release'
  projectPath: '**\Atata.Configuration.Json.csproj'
trigger: none

jobs:
- job: PublishPackage
  displayName: Publish package to NuGet
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Pack
    inputs:
      command: pack
      projects: $(projectPath)
      arguments: -c $(buildConfiguration)
  - task: NuGetCommand@2
    displayName: NuGet push
    inputs:
      command: push
      packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      nuGetFeedType: 'external'
      publishFeedCredentials: 'NuGet'